body {
    background: radial-gradient(circle, rgb(80, 8, 193), rgb(158, 199, 252), rgb(185, 58, 208));
}

h1 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 3em;
}
ul {
    padding: 0;
    height: 40em;
    width: 50em;
    margin: auto;
    border: 2px solid lightblue;
    background-color: black;
    list-style: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 44%;
    display:
}

.hidden {
    width: 0;
    height: 0;
}

img.shown {
    transform: rotate(1080deg);
    transition: 1s ease-in;
    border: 2px solid lightblue;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;

}
